html, body {
    padding: 0;
    margin: 0;
}

body {
    height: 400%;
    background-color: powderblue;
}

.box1 {
    background-color: blue;
    width: 500px;
    height: 500px;
    position: relative;
}

#box2 {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
}